@page
@using Team9.Connect4.BL.Models;
@model Team9.Connect4.WebUI.Pages.Shared.GameHistoryModel
@*@model Team9.Connect4.BL.Models.SavedGame*@
@{
    ViewData["Title"] = "Leaderboard";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    var gameHistories = Model.GetGameHistory();
}

<body>
    <table class="gameTable">
        <thead>
            <tr>
                <th>Results</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Board State</th>
                <th>Game Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gameHistory in gameHistories)
            {
                <tr>
                    <td>@gameHistory.Results</td>
                    <td>@gameHistory.Player1Username</td>
                    <td>@gameHistory.Player2Username</td>
                    <td>@gameHistory.BoardState</td>
                    <td>@gameHistory.GameCode</td>
                    <td>@gameHistory.Turns</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="container">
        <button class="btn" id="btnHome">
            <a asp-page="/Index">Back to Home</a>
        </button>
    </div>
</body>